* {
    margin : 0;
    padding: 0;
}

body {
    background:  #e4e4e9;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header header header"
                         "sidebar main main"
                         "sidebar main main"
                         "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .main,
.contenedor .sidebar,
.contenedor .footer {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
}

.contenedor .header {
    background: #4CAF50;
    color: black;
    grid-area: header;
}

.contenedor .sidebar {
    background: #2196F3;
    color: black;
    grid-area: sidebar;
}

.contenedor .main {
    background: #f1f1f1;
    color: black;
    grid-area: main;
}

.contenedor .footer {
    background: #777;
    color: black;
    grid-area: footer;
}

@media screen and (max-width: 768px) {
    .contenedor {
        grid-template-columns: 1fr;
        grid-template-areas: "header"
                             "sidebar"
                             "main"
                             "footer";
    }
    
}